# 03. Project Details

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
from ydata_profiling import ProfileReport
import functions.fn_stats as fn_stats
import params.consts as consts

### Lendo o dataset

In [2]:
df = pd.read_csv(consts.DATASET_RAW) # Armazenando o dataset em uma variável

display(df.head(3)) # Exibindo as 3 primeiras linhas do dataset

display(df.tail(3)) # Exibindo as 3 últimas linhas do dataset

,Tipo,Data,Curtidas,Comentários,Visualizações,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,11-Sep,"2,858",16,NaN,Loja,N,N,NaN,"2,874"
1,Foto,11-Sep,"2,930",28,NaN,Loja/Produtos,N,N,NaN,"2,958"
2,Foto,11-Sep,"2,807",9,NaN,Loja,N,N,NaN,"2,816"

,Tipo,Data,Curtidas,Comentários,Visualizações,Tags,Pessoas,Campanhas,Carrossel,Interacoes
49,Foto,22-Mar,"9,087",106,NaN,NaN,S,S,NaN,"9,193"
50,Foto,26-Mar,"16,551",186,NaN,NaN,S,N,NaN,"16,737"
51,IGTV,27-Mar,"4,934",65,"12,627",Dicas de como usar/Produtos,S,N,NaN,"4,999"

### Visualizando os detalhes do dataset

In [3]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           52 non-null     object
 1   Data           52 non-null     object
 2   Curtidas       52 non-null     object
 3   Comentários    52 non-null     int64
 4   Visualizações  15 non-null     object
 5   Tags           44 non-null     object
 6   Pessoas        52 non-null     object
 7   Campanhas      52 non-null     object
 8   Carrossel      8 non-null      object
 9   Interacoes     52 non-null     object
dtypes: int64(1), object(9)
memory usage: 4.2+ KB

### Visualizando as estatísticas das colunas numéricas

In [4]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

       Comentários
count        52.00
mean        189.50
std         170.69
min           9.00
25%          69.50
50%         128.00
75%         265.25
max         852.00

### Visualizando as estatísticas da colunas categóricas

In [5]:
df.describe(exclude='number') # Exibindo as estatísticas das colunas categóricas

,Tipo,Data,Curtidas,Visualizações,Tags,Pessoas,Campanhas,Carrossel,Interacoes
count,52,52,52,15,44,52,52,8,52
unique,4,50,52,15,12,2,2,1,52
top,Foto,11-Sep,"2,858","82,878",Produtos,S,N,S,"2,874"
freq,36,3,1,1,12,40,30,8,1

### Verificando as colunas com valores nulos

In [6]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

Tipo              0
Data              0
Curtidas          0
Comentários       0
Visualizações    37
Tags              8
Pessoas           0
Campanhas         0
Carrossel        44
Interacoes        0
dtype: int64

### Gerando o relatório Profile Report

In [7]:
profile = ProfileReport(df) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_0) # Salvando o profile report na pasta reports em formato html

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Conclusões obtidas no relatório e as próximas ações para tratar o dataset

- **Colunas que devem ter o tipo de dados corrigido** 
    1. N/A
- **Colunas que devem ter valores nulos/vazios tratados** 
    1. CustomerID
    2. idade
    3. sexo
    4. tempo_como_cliente
    5. frequencia_de_uso
    6. ligacoes_callcenter
    7. dias_atraso
    8. assinatura
    9. duracao_contrato
    10. total_gasto
    11. meses_ultima_interacao
    12. cancelou
- **Colunas que devem ser convertidas de data para tempo/idade** 
    1. N/A
- **Colunas que devem ter categorias mescladas** 
    1. N/A
- **Colunas que devem ser unificadas**
    1. N/A
- **Colunas que devem ser derivadas de outras**
    1. N/A
- **Colunas que devem ter valores outliers tratados** 
    1. N/A
- **Colunas que devem ser excluídas por valores únicos** 
    1. CustomerID
- **Colunas que devem ser excluídas por valores constantes** 
    1. N/A
- **Colunas que devem ser excluídas após serem utilizadas como apoio** 
    1. N/A