# 04. Data Processing

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
from ydata_profiling import ProfileReport
import functions.fn_stats as fn_stats
import functions.fn_charts as fn_charts
import params.consts as consts

### Lendo o dataset

In [2]:
df = pd.read_csv(consts.DATASET_RAW) # Armazenando o dataset em uma variável

df # Exibindo as 3 primeiras linhas do dataset

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [3]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CustomerID              881664 non-null  float64
 1   idade                   881664 non-null  float64
 2   sexo                    881664 non-null  object
 3   tempo_como_cliente      881663 non-null  float64
 4   frequencia_uso          881663 non-null  float64
 5   ligacoes_callcenter     881664 non-null  float64
 6   dias_atraso             881664 non-null  float64
 7   assinatura              881661 non-null  object
 8   duracao_contrato        881663 non-null  object
 9   total_gasto             881664 non-null  float64
 10  meses_ultima_interacao  881664 non-null  float64
 11  cancelou                881664 non-null  float64
dtypes: float64(9), object(3)
memory usage: 80.7+ MB

In [4]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

,CustomerID,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
count,881664.00,881664.00,881663.00,881663.00,881664.00,881664.00,881664.00,881664.00,881664.00
mean,225398.67,39.37,31.26,15.81,3.60,12.97,631.62,14.48,0.57
std,129531.85,12.44,17.26,8.59,3.07,8.26,240.80,8.60,0.50
min,2.00,18.00,1.00,1.00,0.00,0.00,100.00,1.00,0.00
25%,113621.75,29.00,16.00,9.00,1.00,6.00,480.00,7.00,0.00
50%,226125.50,39.00,32.00,16.00,3.00,12.00,661.00,14.00,1.00
75%,337739.25,48.00,46.00,23.00,6.00,19.00,830.00,22.00,1.00
max,449999.00,65.00,60.00,30.00,10.00,30.00,1000.00,30.00,1.00

In [5]:
df.describe(exclude='number') # Exibindo as estatísticas das colunas categóricas

          sexo assinatura duracao_contrato
count   881664     881661           881663
unique       2          3                3
top       Male   Standard           Annual
freq    500504     298255           354396

In [6]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

CustomerID                2
idade                     2
sexo                      2
tempo_como_cliente        3
frequencia_uso            3
ligacoes_callcenter       2
dias_atraso               2
assinatura                5
duracao_contrato          3
total_gasto               2
meses_ultima_interacao    2
cancelou                  2
dtype: int64

### Corrigindo os tipos de dados das colunas
- **N/A**

### Tratando as colunas com valores nulos/vazios
- Como os valores nulos são apenas no máximo 5 em um univeso de 881.664 (o que representa bem menos que 1% da base), optamos por remover essas linhas para seguir o projeto.

In [7]:
df = df.dropna() # Removendo as linhas com valores nulos

### Criando colunas de tempo/idade
- **N/A**

### Mesclando colunas com muitas categorias
- **N/A**

### Unificando colunas semelhantes
- **N/A**

### Criando colunas derivadas de outras
- **N/A**

### Visualizando o dataset antes de tratar outliers e excluir colunas

In [8]:
df.head(3) # Exibindo as 3 primeiras linhas do dataset

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0

### Tratando as colunas com valores outliers
- **N/A**

### Excluindo as colunas que contém valores únicos
- **CustomerID:** Excluindo a coluna CustomerID para deixar o dataset apenas com informações relevantes, já que uma coluna com identificadores únicos para cada cliente não acrescenta em nada nesse estudo. E lembrando que ao remover a coluna de identificação única, é possível que o dataset passe a ter linhas duplicadas.

In [9]:
df = df.drop('CustomerID', axis=1) # Excluindo as colunas com valores únicos

### Excluindo as colunas que contém valores constantes
- **N/A**

### Salvando o dataset processado
- **N/A**

### Excluindo as colunas auxiliares
- **N/A**

### Ordenando as colunas relacionadas

In [10]:
df = df.reindex(columns=[ # Ordenando as colunas em uma ordem que faz mais sentido para análises
        'idade',
        'sexo',
        'total_gasto',
        'assinatura',
        'duracao_contrato',
        'tempo_como_cliente',
        'frequencia_uso',
        'ligacoes_callcenter',
        'dias_atraso',
        'meses_ultima_interacao',
        'cancelou', 
    ]
)

### Salvando o dataset lean

In [11]:
df.to_csv(consts.DATASET_LEAN, index=False) # Salvando o dataset lean

### Gerando um novo relatório Profile Report

In [12]:
profile = ProfileReport(df) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_1) # Salvando o profile report na pasta reports em formato html

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]